{% extends "collection/base.html" %} {% block content %}
<div class="flex flex-col mx-8 mt-6 items-center gap-16">
  <h1 class="text-4xl font-bold">Collections</h1>
  {% for collection in collections %}
  <h1 class="text-2xl">{{ collection.name }}</h1>
  <div class="flex gap-4 max-w-[1000px] overflow-x-auto">
    {% for artwork in collection.artworks.all %}
    <a href="/artworks/{{ artwork.id }}">
      <img
        src="{{ artwork.image_url }}"
        alt=""
        class="h-[200px] border border-white opacity-80 hover:opacity-100 transition-all"
      />
    </a>
    {% endfor %}
  </div>
  {% endfor %}
</div>
{% endblock content %}
